In [26]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [15]:
satrt=pd.read_csv(r"D:\NIT\DATASCIENCE\ARNAK TASK\exam 1\movies.csv")

In [16]:
satrt

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,-2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,-2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
 satrt = satrt.dropna(how='all')

In [18]:
satrt

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,-2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,-2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
495,La catedral del mar,-2018,"\nDrama, History",7.5,\nBased upon Ildefonso Falcones novel.,"\n \n Stars:\nJordi Aguilar, \nA...","3,574",55.0,NaN
496,Beckett,-2021,"\nAction, Crime, Drama",NaN,"\nFollowing a tragic car accident in Greece, B...",\n Director:\nFerdinando Cito Filomarino\n|...,NaN,108.0,NaN
497,Triple Frontier,-2019,"\nAction, Adventure, Crime",6.4,\nLoyalties are tested when five friends and f...,\n Director:\nJ.C. Chandor\n| \n Stars:\...,"115,059",125.0,NaN
498,Fondeados,-2021,\nComedy,4.2,\nTwo directionless millennial bros get high a...,\n Director:\nMarcos Bucay\n| \n Stars:\...,161,97.0,NaN
499,Sweet Home,(2020– ),"\nDrama, Fantasy, Horror",7.4,"\nHyun, a loner high school student who lost h...","\n \n Stars:\nSong Kang, \nLee J...","12,428",52.0,NaN

In [19]:
satrt.isnull().sum()

MOVIES        0
YEAR          0
GENRE         0
RATING       10
ONE-LINE      0
STARS         0
VOTES        10
RunTime      22
Gross       411
dtype: int64

In [20]:
satrt["RATING"]

0      6.1
1      5.0
2      8.2
3      9.2
4      NaN
      ...
495    7.5
496    NaN
497    6.4
498    4.2
499    7.4
Name: RATING, Length: 500, dtype: float64

In [21]:
satrt["RATING"].nunique()

55

In [22]:
 satrt["RATING"].unique()

array([6.1, 5. , 8.2, 9.2, nan, 7.6, 6.8, 8.6, 7.9, 7.4, 6. , 8.1, 6.2,
       5.4, 8. , 7.5, 9.4, 8.3, 8.7, 8.9, 8.8, 8.5, 8.4, 6.7, 7.7, 9. ,
       5.8, 3.3, 7.8, 5.7, 6.6, 6.9, 6.5, 7.1, 5.6, 7.3, 9.1, 7.2, 6.4,
       9.3, 7. , 6.3, 3.7, 5.5, 4.6, 4.8, 5.3, 4.7, 5.9, 5.1, 4.9, 2.7,
       4.4, 3.1, 4.5, 4.2])

In [24]:
satrt["RATING"] .isnull().sum()

10

In [27]:
satrt['RATING']=satrt['RATING'].fillna(np.mean(pd.to_numeric(satrt['RATING'])))

In [28]:
satrt["RATING"] .isnull().sum()

0

In [33]:
 satrt["RATING"].unique()

array([6.1       , 5.        , 8.2       , 9.2       , 7.40836735,
       7.6       , 6.8       , 8.6       , 7.9       , 7.4       ,
       6.        , 8.1       , 6.2       , 5.4       , 8.        ,
       7.5       , 9.4       , 8.3       , 8.7       , 8.9       ,
       8.8       , 8.5       , 8.4       , 6.7       , 7.7       ,
       9.        , 5.8       , 3.3       , 7.8       , 5.7       ,
       6.6       , 6.9       , 6.5       , 7.1       , 5.6       ,
       7.3       , 9.1       , 7.2       , 6.4       , 9.3       ,
       7.        , 6.3       , 3.7       , 5.5       , 4.6       ,
       4.8       , 5.3       , 4.7       , 5.9       , 5.1       ,
       4.9       , 2.7       , 4.4       , 3.1       , 4.5       ,
       4.2       ])

In [34]:
satrt['VOTES']=satrt['VOTES'].str.replace(r'\W','',regex=True)

In [35]:
satrt['VOTES']=satrt['VOTES'].fillna(np.mean(pd.to_numeric(satrt['VOTES'])))

In [36]:
satrt['RunTime']=satrt['RunTime'].fillna(np.mean(pd.to_numeric(satrt['RunTime'])))

In [44]:
satrt.isnull().sum()

MOVIES        0
YEAR          0
GENRE         0
RATING        0
ONE-LINE      0
STARS         0
VOTES         0
RunTime       0
Gross       411
dtype: int64

In [46]:
satrt.drop(columns='Gross', inplace=True)

In [48]:
satrt.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime'],
      dtype='object')

In [49]:
satrt.isnull().sum()

MOVIES      0
YEAR        0
GENRE       0
RATING      0
ONE-LINE    0
STARS       0
VOTES       0
RunTime     0
dtype: int64

In [52]:
satrt.describe()

           RATING     RunTime
count  500.000000  500.000000
mean     7.408367   80.167364
std      1.053228   62.686813
min      2.700000   11.000000
25%      6.800000   43.000000
50%      7.600000   60.000000
75%      8.200000  109.250000
max      9.400000  572.000000

In [53]:
satrt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    500 non-null    object
 1   YEAR      500 non-null    object
 2   GENRE     500 non-null    object
 3   RATING    500 non-null    float64
 4   ONE-LINE  500 non-null    object
 5   STARS     500 non-null    object
 6   VOTES     500 non-null    object
 7   RunTime   500 non-null    float64
dtypes: float64(2), object(6)
memory usage: 51.3+ KB

In [54]:
satrt.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
dtype: object

In [55]:
satrt.head(2)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime
0,Blood Red Sky,-2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,21062,121.0
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",17870,25.0

In [64]:
satrt['MOVIES']=satrt['MOVIES'].astype('category')

In [65]:
satrt['GENRE']=satrt['GENRE'].astype('category')

In [66]:
satrt['ONE-LINE']=satrt['ONE-LINE'].astype('category')

In [67]:
satrt['STARS']=satrt['STARS'].astype('category')

In [68]:
satrt['RATING']=satrt['RATING'].astype('float')

In [69]:
satrt['VOTES']=satrt['VOTES'].astype('int')

In [70]:
satrt['RunTime']=satrt['RunTime'].astype('float')

In [74]:
satrt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    500 non-null    category
 1   YEAR      500 non-null    object
 2   GENRE     500 non-null    category
 3   RATING    500 non-null    float64
 4   ONE-LINE  500 non-null    category
 5   STARS     500 non-null    category
 6   VOTES     500 non-null    int32
 7   RunTime   500 non-null    float64
dtypes: category(4), float64(2), int32(1), object(1)
memory usage: 103.1+ KB

In [75]:
satrt.describe()

           RATING         VOTES     RunTime
count  500.000000  5.000000e+02  500.000000
mean     6.946000  1.557781e+05   80.160000
std      1.086944  2.254407e+05   62.686822
min      2.000000  2.700000e+01   11.000000
25%      6.000000  2.597575e+04   43.000000
50%      7.000000  7.750650e+04   60.000000
75%      8.000000  1.952758e+05  109.250000
max      9.000000  1.713028e+06  572.000000

In [76]:
Clean_Starts1=satrt.copy()

In [77]:
Clean_Starts1.to_csv('Clean_Starts1.csv')

In [78]:
import os
os.getcwd()

'C:\\Users\\arnak'